
@{
    ViewData["Title"] = "Success";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Enjoy the journey!</h1>
    <p class="lead"><strong>Thank you</strong> for giving us a chance to serve you.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-controller="User" asp-action="Orders">Check your booking</a>
    </p>
</div>
